* {
	box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	margin: 0;
	line-height: 1.8em;
	color: #455A64;
	font-size: 16px;
}
html, body {
	margin: 0;
	height: 100%;	
	background: #f5f5f5;
} 
body.not-auth #main {
	min-height: 60%;
}
body.not-auth #loading, body.not-auth #view-more, body.not-auth #content, body.not-auth #end-of-list, body.not-auth footer .home-link {
	display: none !important;
}
body.not-auth footer {
	bottom: auto;
}
h1 {
	text-align: center;
	font-weight: 400;
	font-size: 1.3rem;
}
h2 {
	font-size: 1rem;
	margin: 0 10px 0 0;
	font-weight: 400;
	display: inline-block;
}
h3 {
	margin: 0;
	font-size: 0.8rem;
	font-weight: 400;
	display: inline-block;`
	color: #78909C;
}
p {
	font-size: 1.2rem;
	margin: 0.8rem 0;
}
a {
	font-size: inherit;
}
img {
	max-width: 100%;
}
button {
	background: #009688;
	border: none;
	text-align: center;
	font-size: 1rem;
	padding: 5px 15px;
	cursor: pointer;
	color: #fff;
}
button:hover {
	background: #00897B;
}
input {
	width: 100%;
}
.bold {
	font-weight: 800;
}

#main {
	max-width: 700px;
	margin: 0 auto;
	min-height: 100%;
	padding-bottom: 160px;
}
#loading {
	text-align: center;
	padding-top: 10%;
}
.link {
	background: none;
	border: none;
	color: #0277BD;
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
}
.link:hover {
	text-decoration: underline;
	background: none;
}
#instructions {
	background: #dbefff;
	padding: 10px 20px 10px 25px;
	position: relative;
	font-weight: bold;
}
#instructions p {
	font-size: 0.9rem;
	margin: 0;
}
#instructions span {
	position: absolute;
	top: 5px;
	right: 18px;
	font-size: 1.2rem;
}
#instructions span a:hover {
	text-decoration: none;
}
#search {
	margin: 0 0 1rem 0;
	background: #fff;
	padding: 10px;
	position: relative;
}
#search-input {
	padding: 3px 2rem 3px 10px;
}
#search-clear {
	position: absolute;
	right: 0;
	font-size: 2rem;
	color: #455A64;
	line-height: 2rem;
	background: transparent;
	top: 5px;
}

/*
main page
*/
.topic {
	display: block;
	padding: 10px;
	text-decoration: none;	
	margin: 30px 0;
	font-weight: 400;
}
.topic-env, .env {
	background: #B3E5FC;	
}
.topic-env:hover {
	background: #81D4FA;
}
.topic-immg, .immg {
	background: #FFE0B2;	
}
.topic-immg:hover {
	background: #FFCC80;
}
.topic-guns, .guns {
	background: #FFCDD2;	
}
.topic-guns:hover {
	background: #F8BBD0;
}
.topic-test {
	background: #BDBDBD;
}
.topic-test:hover {
	background: #9E9E9E;
}
#topics {
	text-align: center;
	padding: 50px 0;
}

/* 
tweet cards 
*/
.tweet {
	max-width: 600px;
	margin: 30px auto;
	padding: 20px;
	background: #fff;
	border-left: 3px solid #fff;
	cursor: pointer;
	position: relative;
}
.tweet-fav-plus {
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	font-size: 1.5rem;
	color: #31cc8b;
}
.tweet-fav-plus:active, .tweet-fav-plus:focus {
	outline: none;
}
.tweet-fav-plus:hover {
	background: transparent;
	color: #31cc8b;
}
.tweet-fav-plus:before {
	content: "\2606";
}
.tweet:hover {
	border-color: #31cc8b;
}
.tweet[data-fav="true"] {
	background: #E8F5E9;
	border-color: #31cc8b;
}
.tweet[data-fav-plus="true"] .tweet-fav-plus:before {
	content: "\2605";
}
.tweet[data-fav-plus="true"] .tweet-fav-plus {
	color: #31cc8b;
}
#view-more {
	display: none;
	margin: 80px auto;
}
#tweet-count {
	text-align: center;
	margin: 2rem 0;
}
/*
header
*/
header {
	position: relative;
	height: 4rem;
	padding: 10px 0 0 0;
	background: #fb8378;
}
header .home-link {
	position: absolute;
	left: 10px;
	top: 15px;	
}

/*
footer 
*/
footer {
	position: relative;
	width: 100%;
	margin-top: -160px;
	height: 160px;
	text-align: center;
}
footer .btn-auth {
	font-size: 0.8rem;
	display: none;
}
footer button, .g-signin2 {
	display: none;
}
footer .home-link {
	margin-top: 2rem;
	display: none;
}

@media only screen and (max-width: 600px) {
    * {
    	font-size: 12px;
    }
}
.abcRioButtonContents {
	margin-top: 2px;
	display: block;
}