.vocation-node {
	rect {
		fill: #ff713d;
	}
}
.links-node-vocation {
	line {
		stroke: #ff713d;
	}
}
.advocation-node {
	rect {
		fill: #00bbd5;
	}
}
.links-node-advocation {
	line {
		stroke: #00bbd5;
	}
}