.members {
	&-node {
		fill: #fff;
		cursor: pointer;
		&-label {
			display: none;
			//transition: opacity 0.2s;
			rect {
				fill: #fff;
			}
		}
		&-label, &-initials {	
			transform: translate(0, 0.35rem);		
			text {
				fill: $black;
				font-size: 1.2rem;
			}
		}
	}
}
.identities {
	circle {
		fill: $black;
	}
	text {
		fill: $black;
		font-weight: bold;
	}
	&-node {
		cursor: pointer;
	}
}
.section {
	position: relative;
	display: flex;
	flex-direction: row;
	min-height: 90vh;
	&:nth-child(2n) {
		flex-direction: row-reverse;
	} 
	&-desc {
		flex: 0 0 35%;
		padding: 1rem;
		align-self: center;
	}
	&-svg-container {
		flex: 1 1 auto;
		align-self: center;
	}
}
@media only screen and (max-width: 980px) {
	.section {
		flex-direction: column !important; 
		height: auto;
		&-desc {
			flex: 1 1 9rem;
			display: flex;
			align-self: auto;
			justify-content: center;
			align-items: flex-end;
		}
		&-svg-container {
			align-self: auto;
		}
	}
	h2 {
		font-size: 1rem;
		width: 100%;
		text-align: center;
	}
}