* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	font-size: 16px;
	font-family: monospace;
	background: $black;
	color: #fff;
}
h2 {
	font-size: 1.5rem;
	font-weight: normal;
	a {
		color: inherit;
	}
}
h3, h4 {
	font-size: 0.8rem;
	font-weight: normal;
	margin: 0.5rem 0;
}
svg {
	display: block;
	height: 100%;
	max-width: 100%;
}
circle, line {
	transition: fill 0.2s, stroke 0.2s;
}
text {
	text-anchor: middle;
	font-size: 1rem;
}
line { 
	stroke-width: 3;
	stroke: $black;
}
a {
	color: blue;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}